Body {background: #E0FFFF;
        Color: black;
        font-size: 14pt;}

Body {font-family: 'Indie Flower', cursive;}

.center {
        display: block;
margin-left: auto;
margin-right: auto;
width: 50%;}
































































































